In [11]:
import psycopg2
from dotenv import load_dotenv
load_dotenv()

conn = psycopg2.connect(host='192.168.0.252',database="mydatabase_a31",user='a31',password='raspberry')
with conn:
    with conn.cursor() as cursor:
        sql='''
        INSERT INTO 市場 values (%s,%s)
        ON CONFLICT DO NOTHING;
        '''
        cursor.execute(sql,['^TWII','台灣'])
conn.close()

In [3]:
import yfinance as yf
taiwan = yf.download('^TWII')
#taiwan #抓取TAIWAN加權指數
df = yf.download('2330.TW',start='2024-01-01',end='2024-11-12')
df

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Price,Adj Close,Close,High,Low,Open,Volume
Ticker,2330.TW,2330.TW,2330.TW,2330.TW,2330.TW,2330.TW
Date,,,,,,
2024-01-02 00:00:00+00:00,585.361023,593.0,593.0,589.0,590.0,26059058
2024-01-03 00:00:00+00:00,570.554260,578.0,585.0,576.0,584.0,37106763
2024-01-04 00:00:00+00:00,572.528442,580.0,581.0,577.0,580.0,15309129
2024-01-05 00:00:00+00:00,568.580017,576.0,580.0,574.0,578.0,18158971
2024-01-08 00:00:00+00:00,575.489868,583.0,585.0,579.0,582.0,17761275
...,...,...,...,...,...,...
2024-11-05 00:00:00+00:00,1050.000000,1050.0,1055.0,1030.0,1030.0,32385622
2024-11-06 00:00:00+00:00,1060.000000,1060.0,1080.0,1040.0,1050.0,55349259
2024-11-07 00:00:00+00:00,1065.000000,1065.0,1075.0,1050.0,1050.0,43975446
2024-11-08 00:00:00+00:00,1090.000000,1090.0,1090.0,1080.0,1085.0,37099479
2024-11-11 00:00:00+00:00,1085.000000,1085.0,1090.0,1070.0,1080.0,34690205

In [ ]:
all_data = taiwan.to_dict(orient='index')
for key,value in all_data.items():
    date = key.date()
    name = '^TWII'
    print(date)
    adj_close = value[('Adj Close', name)]
    open = value[('Open', name)]
    high = value[('High', name)]
    low = value[('Low', name)]
    close = value[('Close', name)]
    volume = value[('Volume', name)]
    print("=========")

In [5]:
from decimal import Decimal
conn = psycopg2.connect(host='192.168.0.252',database="mydatabase_a31",user='a31',password='raspberry')
with conn:
    all_data = taiwan.to_dict(orient='index')
    for key,value in all_data.items():
        date = key.date()
        name = '^TWII'
        adj_close = Decimal(value[('Adj Close', name)])
        open = Decimal(value[('Open', name)])
        high = Decimal(value[('High', name)])
        low = Decimal(value[('Low', name)])
        close = Decimal(value[('Close', name)])
        volume = Decimal(value[('Volume', name)])
        with conn.cursor() as cursor:
            sql='''
            INSERT INTO 股市(date,open,high,low,close,adj_close,volume,name) 
            values(%s,%s,%s,%s,%s,%s,%s,%s) ON CONFLICT DO NOTHING;
            '''
            cursor.execute(sql,[date,open,high,low,close,adj_close,volume,name])
conn.close()

In [8]:
conn = psycopg2.connect(host='192.168.0.252',database="mydatabase_a31",user='a31',password='raspberry')
with conn:
    with conn.cursor() as cursor:
        sql='''
        INSERT INTO 市場 values (%s,%s)
        ON CONFLICT DO NOTHING;
        '''
        cursor.execute(sql,['^HSI','香港恒生'])
conn.close()

In [9]:
import yfinance as yf
hsi = yf.download('^HSI')
all_data = hsi.to_dict(orient='index')

[*********************100%***********************]  1 of 1 completed

In [ ]:
from decimal import Decimal

conn = psycopg2.connect(host='192.168.0.252',database="mydatabase_a31",user='a31',password='raspberry')
with conn:
    all_data = hsi.to_dict(orient='index')
    for key,value in all_data.items():
        date = key.date()
        name = '^HSI'
        adj_close = Decimal(value[('Adj Close', name)])
        open = Decimal(value[('Open', name)])
        high = Decimal(value[('High', name)])
        low = Decimal(value[('Low', name)])
        close = Decimal(value[('Close', name)])
        volume = Decimal(value[('Volume', name)])
        with conn.cursor() as cursor:
            sql='''
            INSERT INTO 股市(date,open,high,low,close,adj_close,volume,name) 
            values(%s,%s,%s,%s,%s,%s,%s,%s)
            ON CONFLICT DO NOTHING;            
            '''
            cursor.execute(sql,[date,open,high,low,close,adj_close,volume,name])
conn.close()